* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-body-1: radial-gradient(ellipse at center, #3334 0%, #2224 80%, #2221 100%);
    --bg-body-2: linear-gradient(#222, #111);
    --text-color: #eee;
    --bg-color-resetBtn: #111;
    --bg-color-hover-resetBtn: #222;
    --bh-board: #222;
    --outline-color-board: #0002;
    --bg-cell: #111;
    --bg-hover-cell: #181818;
    --outline-color-cell: #444;
    --color-marker-cell: #333;
    --color-marker-X: #48f;
    --color-marker-O: #f48;
    --color-marker-X-old: #36a;
    --color-marker-O-old: #a36;
    --color-winning: #6d6;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-body-1: radial-gradient(ellipse at center, #fff8 80%, #eee 100%);
        --bg-body-2: linear-gradient(#fff, #eee);
        --text-color: #222;
        --bg-color-resetBtn: #4d5;
        --bg-color-hover-resetBtn: #5e7;
        --bh-board: #444;
        --outline-color-board: #0001;
        --bg-cell: #fff;
        --bg-hover-cell: #eee;
        --outline-color-cell: #888;
        --color-marker-cell: #aaa;
        --color-marker-X: #46f;
        --color-marker-O: #f46;
        --color-marker-X-old: #abf;
        --color-marker-O-old: #fab;
        --color-winning: #4d5;
    }
}

body {
    display: grid;
    gap: min(1.5lh, 1dvh);
    min-height: 100dvh;
    color: var(--text-color);
    font-family: system-ui, -apple-system, sans-serif;
    background: var(--bg-body-1) fixed, var(--bg-body-2) fixed;
}

.lang-link {
    position: fixed;
    top: 1em;
    right: 1em;

    a {
        color: inherit;
        opacity: .4;
        text-decoration: none;

        &:hover, &:focus {
            opacity: 1;
            text-decoration: underline;
        }
    }
}

header {
    align-self: end;
}

main {
    align-self: center;
}

h1 {
    text-align: center;
    text-wrap: balance;
    padding-inline: 1rem;
}

.game-container {
    display: grid;
    justify-items: center;
    gap: 1em;
}

h2,
#gameStatus {
    font-size: 1.2rem;
    margin-block: .2em;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 4px;
    background: var(--bh-board);
    border-radius: 6px;
    outline: .5em solid var(--outline-color-board);
}

.cell {
    position: relative;
    aspect-ratio: 1/1;
    width: clamp(60px, 24vw, 100px);
    max-width: clamp(60px, 16dvh, 100px);
    font-size: clamp(2em, min(11dvh, 17vw) - 0.5em, 4em);
    background: var(--bg-cell);
    border: none;
    border-radius: 4px;

    &:not([disabled]) {
        cursor: pointer;

        &:hover, &:focus-visible {
            background: var(--bg-hover-cell);
            outline: 2px solid var(--outline-color-cell);
        }
    }
}

.old {
    text-decoration: underline;
}

.marker-X {
    .marker {
        color: var(--color-marker-X);
    }

    &.old {
        color: var(--color-marker-X-old);
    }
}

.marker-O {
    .marker {
        color: var(--color-marker-O);
    }

    &.old {
        color: var(--color-marker-O-old);
    }
}

.winning {
    color: var(--color-winning);
    text-decoration: underline;
}

.marker-cell {
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 5px;
    font-size: .6rem;
    color: var(--color-marker-cell);
}

.marker-order {
    position: absolute;
    pointer-events: none;
    top: 5px;
    right: 5px;
    font-size: .6rem;
}

#resetBtn {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.6em 1.4em;
    background-color: var(--bg-color-resetBtn);
    cursor: pointer;

    &:hover, &:focus-visible {
        background-color: var(--bg-color-hover-resetBtn);
    }

    &:focus-visible {
        outline: 2px solid var(--bg-color-resetBtn);
    }
}

.instructions-container {
    align-self: start;
    margin-inline: auto;
    max-width: 520px;
    padding: .5em 1em;
}

p {
    text-wrap: pretty;
}