* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: clamp(60%, 100% * 0.9 + 0.5dvmin, 160%);
    --bg-body-1: radial-gradient(ellipse at center, #3334 0%, #2224 80%, #2221 100%); 
    --bg-body-2: linear-gradient(#222, #111); 
    --text-color: #eee;
    --bg-options-summary: #1118;
    --bg-hover-options-summary: #2228;
    --bg-options-content: #111d;
    --outline-color-options: #0002;
    --accent-color-checkbox: #232323;
    --border-color-hr-options: #3338;
    --bg-color-resetBtn: #111;
    --bg-color-hover-resetBtn: #222;
    --bh-board: #222;
    --outline-color-board: #0002;
    --bg-cell: #111;
    --bg-hover-cell: #181818;
    --bg-cell-disabled: #0c0c0c;
    --outline-color-cell: #444;
    --color-marker-cell: #333;
    --color-marker-X: #48f;
    --color-marker-O: #f48;
    --color-winning: #4d5;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-body-1: radial-gradient(ellipse at center, #fff8 80%, #eee 100%);
        --bg-body-2: linear-gradient(#fff, #eee);
        --text-color: #222;
        --bg-options-summary: #ddd8;
        --bg-hover-options-summary: #bbb8;
        --bg-options-content: #fffe;
        --outline-color-options: #0001;
        --accent-color-checkbox: #46f;
        --border-color-hr-options: #ccc8;
        --bg-color-resetBtn: #4d5;
        --bg-color-hover-resetBtn: #5e7;
        --bh-board: #444;
        --outline-color-board: #0001;
        --bg-cell: #fff;
        --bg-hover-cell: #eee;
        --bg-cell-disabled: #ddd;
        --outline-color-cell: #888;
        --color-marker-cell: #aaa;
        --color-marker-X: #48f;
        --color-marker-O: #f48;
        --color-winning: #4d5;
    }
}

body {
    display: grid;
    gap: min(1.5lh, 1dvh);
    min-height: 100dvh;
    color: var(--text-color);
    font-family: system-ui, -apple-system, sans-serif;
    background: var(--bg-body-1) fixed, var(--bg-body-2) fixed;
}

header {
    align-self: end;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    text-wrap: balance;
    padding-inline: 1rem;
}

.options {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size: .8em;
    font-weight: 600;
    
    summary {
        text-align: center;
        font-weight: bold;
        padding: .4em 1em;
        cursor: pointer;
        list-style: none;
        border-bottom-left-radius: .4em;
        background: var(--bg-options-summary);

        &:hover, &:focus-visible {
            background: var(--bg-hover-options-summary);
            outline: 2px solid var(--bg-options-summary);
        }
    }

    &[open]{
        bottom: 0;
        background-color: var(--bg-options-content);
        outline: .4em solid var(--outline-color-options);
        
        summary {
            border-bottom-left-radius: 0;
            outline: none;
        }
    }

    ul {
        display: grid;
        gap: 0.4lh;
        height: 100%;
        padding: .6em 2ch;
        list-style: none;
        border-radius: 0 0 .4em .4em;

        hr {
            border: 1px solid var(--border-color-hr-options);
        }
    }

    .option-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2ch;
    }

    input[type="checkbox"] {
        cursor: pointer;
        accent-color: var(--accent-color-checkbox);

        &[disabled] {
            cursor: not-allowed;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    opacity: .6;

    &:hover, &:focus {
        text-decoration: underline;
        opacity: 1;
    }
}

main {
    align-self: center;
}

.game-container {
    display: grid;
    justify-items: center;
    gap: 1em;
}

h2,
#gameStatus {
    font-size: 1em;
    margin-block: .2em;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 4px;
    background: var(--bh-board);
    border-radius: 6px;
    outline: .5em solid var(--outline-color-board);
}

.cell {
    position: relative;
    aspect-ratio: 1/1;
    width: clamp(60px, min(20vw, 12dvh), 100px);
    font-size: clamp(40px, min(15vw, 9dvh) - 0.5em, 65px);
    background: var(--bg-cell);
    border: none;
    border-radius: 4px;

    &:not([disabled]) {
        cursor: pointer;

        &:hover, &:focus-visible {
            background: var(--bg-hover-cell);
            outline: 2px solid var(--outline-color-cell);
        }
    }

    &:not(:has(.marker-count)):disabled {
        background: var(--bg-cell-disabled);
        
        .marker-cell {
            display: none;
        }
    }
}

.old .marker-player {
    text-decoration: underline;
}

.marker-X {
    .marker-player, .marker-count {
        color: var(--color-marker-X);
    }

    &.old :is(.marker-player, .marker-count) {
        /*color: var(--color-marker-X-old);*/
        opacity: .6;
    }
}

.marker-O {
    .marker-player, .marker-count {
        color: var(--color-marker-O);
    }

    &.old :is(.marker-player, .marker-count) {
        /*color: var(--color-marker-O-old);*/
        opacity: .6;
    }
}

#board .winning {
    .marker-player {
        color: var(--color-winning);
        text-decoration: underline;
    }

    .marker-count {
        color: var(--color-winning);
    }
}

.marker-cell {
    position: absolute;
    pointer-events: none;
    top: .5em;
    left: 1ch;
    font-size: .6rem;
    color: var(--color-marker-cell);
}

.marker-count {
    position: absolute;
    pointer-events: none;
    display: none;
    top: .5em;
    right: 1ch;
    font-size: .6rem;
}

#resetBtn {
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.6em 1.4em;
    background-color: var(--bg-color-resetBtn);
    cursor: pointer;

    &:hover, &:focus-visible {
        background-color: var(--bg-color-hover-resetBtn);
    }

    &:focus-visible {
        outline: 2px solid var(--bg-color-resetBtn);
    }
}

.instructions-container {
    align-self: start;
    max-inline-size: 65ch;
    margin-inline: auto;
    padding: .5em 2ch;
}

#instructions {
    padding-left: 4ch;
    font-size: 0.8em;
    text-wrap: pretty;
}

/* Mostrar o ocultar textos segun lo marcado */
.show-number-text, .limit-mark-text, .limit-time-text, .limit-move-text {
    display: none;
}

header:has(#showNumber:checked) ~ * :is(.marker-count, .show-number-text),
header:has(#limitMark:checked) ~ * .limit-mark-text,
header:has(#limitTime:checked) ~ * .limit-time-text,
header:has(#limitMove:checked) ~ * .limit-move-text {
    display: revert;
}